.infoBox{
    flex:1;
    border-radius: none;
    cursor: pointer;
}

.infoBox--selector{
    border-top:10px solid greenyellow;
}

.infoBox--red{
    border-color: crimson;
}

.infoBox:not(:last-child){
    margin-right: 15px;
}

.infoBox_cases{
    color:#cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
.infoBox_total{
    color:#6c757d;
    font-weight: 700 !important;
    font-size: 1.75rem !important;
    margin-bottom: 0.5rem !important;
}